In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json

In [2]:
df = pd.read_csv("weather_burbank_airport.csv")

In [3]:
df.head()

,city,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,Burbank,2018-01-01 08:53:00,9.0,33.0,Fair,991.75,9.0,0.0,8.0
1,Burbank,2018-01-01 09:53:00,9.0,33.0,Fair,992.08,0.0,0.0,9.0
2,Burbank,2018-01-01 10:53:00,9.0,21.0,Haze,992.08,0.0,0.0,9.0
3,Burbank,2018-01-01 11:53:00,9.0,29.0,Partly Cloudy,992.08,0.0,0.0,9.0
4,Burbank,2018-01-01 12:53:00,8.0,33.0,Fair,992.08,0.0,0.0,8.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29244 entries, 0 to 29243
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city                     29244 non-null  object
 1   timestamp                29244 non-null  object
 2   temperature              29219 non-null  float64
 3   cloud_cover              29224 non-null  float64
 4   cloud_cover_description  29224 non-null  object
 5   pressure                 29236 non-null  float64
 6   windspeed                29158 non-null  float64
 7   precipitation            29244 non-null  float64
 8   felt_temperature         29218 non-null  float64
dtypes: float64(6), object(3)
memory usage: 2.0+ MB

After some manual inspection, the dataset contains hourly timestamps for each day. We are probably only interested in those between 6am and 10pm, since before and after that time period, most people are at home. So we remove the rest

In [5]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df = df.drop(df["timestamp"].hour < 6)
df = df.drop(df["timestamp"].hour > 22)
df.info()

AttributeError: 'Series' object has no attribute 'hour'

Vorgehensweise: Checke von welchem Tag bis zu welchem Tag die Wetterdaten verf체gbar sind. Und ob sie durchg채ngig verf체gbar sind

Dann f체r jeden Tag diese Metriken berechnen:

todo
    - mean temp for each day
    - mean cloud cover for each day
    - mean precipitation(Niederschlag) for each day

test